// Base html
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);
$base-html: #f5f5f5;
$base-header:#38405e;
$primary-text-color: #000;
$secondary-text-color: #A1A1A4;

html{
  background-color: $base-html;
  @include outer-container;
}

body{
  font-family: 'Open Sans', sans-serif;
}
header{
  @include span-columns(12);
  margin-top: 0px;
  height: 15vh;
  background-color: $base-header;
  color: white;
  .panel-heading{
    @include span-columns(8 of 12);
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 1em;
    font-weight: 500;
    text-transform: capitalize;
  }
  .container-user{
    @include span-columns(2 of 12);
    text-align: center;
    height: 100%;
    padding-top: 2.5em;
    #container-menu-user{
      text-align: left;
      margin-right: 1em;
      margin-top: 0.1em;
      display: none;
      background-color: white;
      color: black;
      padding: 0;
      margin: 0;
      margin-right: 1vw;
      z-index: 999;
      position: absolute;
      .item-menu{
        padding: 0.5vh;
        border-bottom: 1px solid #ccc;
        color: $primary-text-color;
        a{
          color: $secondary-text-color;
        }
      }
    }
  }
  a{
    color: white;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
}
.logo-header{
  @include span-columns(2 of 12);
  height: 6em;
  padding-top: 1em;
  color: white;
  text-align: center;
}
.li_cup{
  font-size: 3rem;
  font-weight: 100;
}

main{
  @include span-columns(12);
  height: auto;
  padding-bottom: 20px;
}

footer{
  @include span-columns(12);
  background-color: $base-header;
  height: auto;
}

#menu-secundario,
#menu-secundario-tecnico,
#menu-secundario-computador{
  @include span-columns(12);
  height: 10vh;
  color: white;
  margin-top: 0px;
  background-color:lighten($base-header,10%);
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  padding: 0;
  z-index: 800;
  li{
    @include span-columns(4 of 12);
    list-style: none;
    height: 10vh;
    padding-top: 2vh;
    @include transition(all 0.3s ease-in-out);
    &:hover{
      cursor: pointer;
      background-color:lighten($base-header,13%);
    }
    a{
      text-decoration: none;
      color: white;
    }
  }
}

#menu-secundario-tecnico{
  li{
    @include span-columns(4 of 12);
    @include shift(4);
  }
}
#menu-secundario-computador{
  li{
    @include span-columns(4 of 12);
    @include shift(4);
  }
}
.error{
  color: red;
  text-align: center;
}
.nome-user{
  text-transform: capitalize;
}
.inexistente{
  text-align: center;
  font-size: 2em;
  font-weight: 100;
}
#header-tecnico-nome{
  font-size: 1.2em;
  cursor: pointer;
}
