.container-equipamentos{
    @include span-columns(10);
    @include shift(1);
}
.computadores,
.perifericos{
  @include span-columns(5 of 10);
  .tema{
    @include span-columns(5 of 5);
    background-color: white;
    text-align: center;
    font-weight: bold;
  }
  .computador{
    @include span-columns(2.5 of 5);
    @include omega(3n);
    margin-top: 1vh;
    border-radius: 2px;
    background-color: white;
    min-height: 100px;
    &:hover{
        @include transform(scale(1.02));
        cursor: pointer;
    }
  }
}

.texto-principal{
  color: $primary-text-color;
}

.texto-secundario{
  color: $secondary-text-color;
}
